// http://ionicframework.com/docs/v2/theming/
// Welcome Page
.instructions {
  text-align: center;
  p {
    font-size: 1.25em;
  }
}
.privacy {
  text-align: center;
  p {
  color: #A9A9A9;
  }
}
.credits {
  p {
    font-size: 1.15em;
  } ul {
    list-style: none;
    padding: 0;
  }
}

// Civic Info Listing Page

